*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(60, 60, 60);
    height: 100vh;

}

.container-clock{
    /* 置中 調整整體位置 */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 3px solid lightgreen;
    color: lightgreen;
    width: 340px;
    padding: 20px;
    border-radius: 40px;
    transition: 0.5s;
}

.container-clock:hover{
    background-color: lightgreen;
    color: black;
    box-shadow:  0 0 30px rgb(200, 55, 236);
}

.time{
    font-size: 50px;
    font-weight: 600px;
    text-align: center;
}

.date{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

#period{
    font-size: 20px;
}

@media (max-width:600px){
    .container-clock{
        width: 400px;
        top: 20%;
        left: 40%;
        transform: translate(-40%, -100%);
        background-color: transparent;
        border: 3px solid lightgreen;
        color: lightgreen;
        width: 500px;
        padding: 20px;
        border-radius: 40px;
        transition: 0.5s;
    }
}